*{
	margin:0 auto;
	padding:0;
	border:0;
}
html,body{
	height:100%;
	width:100%;
}
#all{
	height:100%;
	width:100%;
	position:relative;
}
.contt{
	margin:0;
	padding:0;
	border:0;
	height:100%;
	width:100%;
}
#navHeader{
	background-color:#BABABA;
	height:8%;
	width:100%;
	border:none;
	text-align:center;
	position:fixed;
	display:block;
}
#sysName{
	width:20%;
	float:left;
	text-align:center;
	margin-left:0px;
	margin-top:-5px;
}
#userName{
	width:60%;
	float:right;
	text-align:right;
	line-height:100%;
	margin-right:30px;
	margin-top:10px;
}
#navi{
	position:fixed;
	height:100%;
	width:16%;
	background-color:#555;
	margin-top:4%;
}
/*
 * Main content
 */
.main {
	padding: 5px;
	float:right;
	width:82%;
	margin:0px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

@media (min-width: 768px) {
	.sidebar {
		top: 55px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		width: 18%;
		padding: 0px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		border-right: none;
		text-align:center;
	}
}

/* Sidebar navigation */
.nav-sidebar {

	margin-left:-102px;
	padding:0px;
	position: fixed;
	border:none;
	width:17%;
	text-align:center;
}
.nav-sidebar > li > a {
	padding-right: 10px;
	padding-left: 10px;
	text-align:center;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #CC0000;
}


#content{
	padding:0px;
	margin:0px;
}
@media (min-width: 768px) {
	.main {
		padding-top:82px;
		padding-right: 0px;
		padding-left: 0px;
	}
}
.main .page-header {
	margin-top: 0;
}

/*index的垂直导航一、二级菜单样式*/
/*左侧菜单*/
.sidebar-menu{
	border-right: 1px solid #c4c8cb;
}
/*一级菜单*/
.menu-first{
	height: 50px;
	line-height: 30px;
	background-color: #e9e9e9;
	padding: 0px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}
/*一级菜单鼠标划过状态*/
.menu-first:hover{
	text-decoration: none;
	background-color: #d6d4d5;
	border-top: 0px solid #b7b7b7;
	border-bottom: 0px solid #acacac;
}
/*二级菜单*/
.menu-second li a{
	background-color: #f6f6f6;
	height: 40px;
	line-height:auto;
	border-top: 0px solid #efefef;
	border-bottom: 0px solid #efefef;
	font-size: 14px;
	text-align: center;
}
/*二级菜单鼠标划过样式*/
.menu-second li a:hover {
	text-decoration: none;
	background-color: #66c3ec;
	border-top: 1px solid #83ceed;
	border-bottom: 1px solid #83ceed;
	border-right: 3px solid #f8881c;
	border-left: 3px solid #66c3ec;
}
/*二级菜单选中状态*/
.menu-second-selected {
	background-color: #66c3ec;
	height:31px;
	line-height:31px;
	border-top: 1px solid #83ceed;
	border-bottom: 1px solid #83ceed;
	border-right: 3px solid #f8881c;
	border-left: 3px solid #66c3ec;
	text-align:center;
}
/*覆盖bootstrap的样式*/
.nav-list,.nav-list li a{
	padding: 0px;
	margin: 0px;
}

/*********** 以下为studentImport.jsp样式**************/
#dataimportDiv{

	margin:200px;
	text-align:center;
	width:400px;
	height:200px;
	border:1px solid black;

}
#formDIv{
	text-align:center;
	padding:80px 20px 20px 20px;
}