* {
    margin: 0 auto;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.all {
    height: 100%;
    width: 100%;
    position: relative;
}

#navHeader {
    background-color: #BABABA;
    height: 60px;
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    position: fixed;
    display: block;
}

#sysName {   //改成这样
width: 30%;
    float: left;
    text-align: left;
    margin-left: 30px;
}

#userName {  //改成这样
width: 40%;
    float: right;
    text-align: right;
    margin-right: 20px;
    padding-top: 15px;
}

#navi {
    position: fixed;
    height: 100%;
    width: 16%;
    background-color: #555;
    margin-top: 60px;
    z-index: 1;
}

/*
 * Main content
 */

.main {
    padding: 5px;
    float: right;
    width: 82%;
    margin: 0px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

@media (min-width: 768px) {
    .sidebar {
        margin-top: 0px;
        width: 16%;
        padding: 0px;
        z-index: 2;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        background-color: aqua;
        position: fixed;
    }
}

/* Sidebar navigation */

.nav-sidebar {
    z-index: 10;
    padding: 0px;
    position: relative;
    border: none;
    width: 100%;
    text-align: center;
}

.nav-sidebar > li > a {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #CC0000;
}

#content {
    padding: 0px;
    margin: 0px;
}

@media (min-width: 768px) {
    .main {
        padding-top: 82px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*index的垂直导航一、二级菜单样式*/

/*左侧菜单*/

.sidebar-menu {
    border-right: 1px solid #c4c8cb;
}

/*一级菜单*/

.menu-first {
    height: 50px;
    line-height: 30px;
    background-color: #e9e9e9;
    padding: 0px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

/*一级菜单鼠标划过状态*/

.menu-first:hover {
    text-decoration: none;
    background-color: #d6d4d5;
    border-top: 0px solid #b7b7b7;
    border-bottom: 0px solid #acacac;
}

/*二级菜单*/

.menu-second li a {
    background-color: #f6f6f6;
    height: 40px;
    border-top: 0px solid green;
    border-bottom: 0px solid blue;
    font-size: 14px;
    text-align: center;
}

/*二级菜单鼠标划过样式*/

.menu-second li a:hover {
    text-decoration: none;
    background-color: #66c3ec;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 5px solid #FF7F00;
}

/*二级菜单选中状态*/

.menu-second-selected {
    background-color: #66c3ec;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 5px solid #FF7F00;
    text-align: center;
}

/*覆盖bootstrap的样式*/

.nav-list,
.nav-list li a {
    padding: 0px;
    margin: 0px;
}

#pwdAlertinfo {
    margin-top: 10px;
    width: 80%;
    text-align: center;
    display: none;
}
/*********** 以下为studentImport.jsp样式**************/

#dataimportDiv {

    margin: 200px;
    text-align: center;
    width: 400px;
    height: 200px;
    border: 1px solid black;
}

#formDIv {
    text-align: center;
    padding: 80px 20px 20px 20px;
}


/*********** 以下为adminInfo.jsp样式**************/

#adminINFO {

    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    position: relative;
    text-align: center;
}

#photo {
    margin: 0px;
    padding: 0px;
    height: 180px;
    width: 160px;
}

#adminImg {
    margin: 0 auto;
    padding: 16px;

    text-align: center;
    width: 100%;
    height: auto;
}

#adminImgCon {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 200px;
}

#inputImgDiv {
    padding: 0px;
    margin-top: 16px;
    width: 100%;
    text-align: center;

}

#tabDiv {
    width: 40%;
    padding-top: 20px;
}

#changePwdDiv {
    padding: 10px;
    width: 80%;
    height: 290px;
    border: 0.5px solid #B0C4DE;
    text-align: center;

}


#retBtn {
    margin-left: 20px;
}

#btnGroup {
    margin-top: 20px;
}

/*********** 以下为studentScan.jsp样式**************/

#stdScan {
    text-align: center;
    width: 100%;

}

#studentTable {

    padding: 0;
    text-align: center;
    width: 80%;

}

#tabHead {

    padding: 0;
    width: 80%;
    height: 40px;

}

#tableHeadLeft {

    padding: 0;
    width: 40%;
    text-align: left;
    float: left;
}

#tableHeadRight {

    padding: 0;
    width: 40%;
    text-align: right;
    float: right;

}

#tableBody {
    overflow-y: auto;
    width: 80%;
    padding: 0;
    height: 100%;
    text-align: center;
}
