<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       
<mapper namespace="com.elearning.dao.StudentDao">
	<insert id="insertBasicInformation" parameterType="String" useGeneratedKeys="true">
		insert into tb_student(studentID,password,studentName,studentImage,preferences,department,phonenumber) 
		values(#{ID},'49ba59abb',#{name},null,null,#{department},#{phonenumber})
	</insert>
	
	<!--  update id="register" parameterType="String">
		update tb_student set password = ${password} where studentID = #{ID}
	</update -->
	
	<update id="register" parameterType="Student">
		update tb_student set password = #{password}, studentName = #{image}, preferences = #{preferences} where studentID = #{ID}
	</update>
	
	<update id="modifyPassword" parameterType="String">
		update tb_student set password = #{password} where studentID = #{ID}
	</update>
	
	<update id="editInfomation" parameterType="String">
		update tb_student set studentName = #{name},studentName = #{image},preferences = #{preferences}
		where studentID = #{ID}
	</update>
	
	<select id="getPassword" parameterType="String" resultType="String">
		select password from tb_student where studentID = #{ID}
	</select>
	
	<delete id="delete" parameterType="String">
		delete from tb_student where studentID = #{ID}
	</delete>
	
	<select id="findByID" parameterType="String" resultType="Student">
		select 
			ID as "ID",
			studentID as "studentID",
			password as "password",
			studentName as "name",
			studentImage as "image",
			preferences as "preferences",
			department as "department",
			phonenumber as "phonenumber"
		from tb_student where studentID = #{ID}
	</select>
	
	<resultMap type="Student" id="studentMap">
		<id column="ID" property="ID"/>
		<result column="studentID" property="studentID"/>
		<result column="studentName" property="name"/>
		<result column="password" property="password"/>
		<result column="studentName" property="image"/>
		<result column="preferences" property="preferences"/>
		<result column="department" property="department"/>
		<result column="phonenumber" property="phonenumber"/>
	</resultMap>
	
	<select id="findByName" parameterType="String" resultMap="studentMap">
		select * from tb_student where studentName = #{name}
	</select>
	
	<select id="findAll" resultMap="studentMap">
		select * from tb_student
	</select>
</mapper>