<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       
<mapper namespace="com.elearning.dao.TeacherDao">
	<insert id="insertBasicInformation" parameterType="String" useGeneratedKeys="true">
		insert into tb_teacher(teacherID,password,teacherName,teacherImage,department,phonenumber)
		 values(#{ID},'49ba59abb',#{name},null,#{department},#{phonenumber})
	</insert>
	
	<update id="register" parameterType="Teacher">
		update tb_teacher set password = #{password}, teacherImage = #{image} where teacherID = #{ID}
	</update>
	
	<update id="modifyPassword" parameterType="String">
		update tb_teacher set password = #{password} where teacherID = #{ID}
	</update>
	
	<update id="editInfomation" parameterType="String">
		update tb_teacher set teacherName = #{name},teacherImage = #{image} where teacherID = #{ID}
	</update>
	
	<select id="getPassword" parameterType="String" resultType="String">
		select password from tb_teacher where teacherID = #{ID}
	</select>
	
	<delete id="delete" parameterType="String">
		delete from tb_teacher where teacherID = #{ID}
	</delete>
	
	<select id="findByID" parameterType="String" resultType="Teacher">
		select 
		ID as "ID",
		teacherID as "teacherID",
		teacherName as "name",
		password as "password",
		teacherImage as "image",
		department as "department",
		phonenumber as "phonenumber"
		from tb_teacher where teacherID = #{ID}
	</select>
	
	<resultMap type="Teacher" id="teacherMap">
		<id column="ID" property="ID"/>
		<result column="teacherID" property="teacherID"/>
		<result column="teacherName" property="name"/>
		<result column="password" property="password"/>
		<result column="teacherImage" property="image"/>
		<result column="department" property="department"/>
		<result column="phonenumber" property="phonenumber"/>
	</resultMap>
	
	<select id="findByName" parameterType="String" resultMap="teacherMap">
		select * from tb_teacher where teacherName = #{name}
	</select>
	
	<select id="findAll" resultMap="teacherMap">
		select * from tb_teacher
	</select>
</mapper>